@import './variables.scss';
@import './text_styling.scss';
@import './forms.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

section{
  height: 100vh;
  padding: 40px 24px 100px 24px !important;
  overflow-y: auto;
}